<%- include('./partials/header.ejs') %>
  <div class="container-fluid bg-light">
    <div class="logout">
      <form action="/logout" method="post">
        <button class="btn btn-outline-secondary my-3" type="submit">Log Out</button>
      </form>
    </div>
    <div class="user mb-2 pb-1">
      <h1>Welcome <%= user.name %>
      </h1>
    </div>
  </div>


  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col">
        <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
        <div class="user my-2">
          <h1>Growth</h1>
          <h1 class="text-success">
            <%= user.barData.growth %> %
          </h1>
        </div>
      </div>
      <div class="col">
        <canvas id="myChart2" style="width:100%;max-width:600px;height:320px"></canvas>
        <div class="user my-2">
          <h1>Loss</h1>
          <h1 class="text-danger">
            <%= user.pieData.loss %> %
          </h1>
        </div>
      </div>
    </div>
  </div>
  <script>
    // for bar graph
    const user_barData_india = "<%= user.barData.india %>";
    const user_barData_Oman = "<%= user.barData.Oman %>";
    const user_barData_US = "<%= user.barData.US %>";
    const xValues = ["India", "Oman", "US"];
    const yValues = [user_barData_india, user_barData_Oman, user_barData_US, 23];
    const barColors = ["yellow", "blue", "red"];

    new Chart("myChart1", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: { display: false }
      }
    });

    //  for pie chart
    const user_pie_first = "<%= user.pieData.first %>";
    const user_pie_second = "<%= user.pieData.second %>";
    const user_pie_third = "<%= user.pieData.third %>";

    const yValues2 = [user_pie_first, user_pie_second, user_pie_third];
    const barColors2 = [
      "#b91d47",
      "#00aba9",
      "#2b5797"
    ];

    new Chart("myChart2", {
      type: "pie",
      data: {
        datasets: [{
          backgroundColor: barColors2,
          data: yValues2
        }]
      },
      options: {
        title: {
          display: false,
        }
      }
    });


  </script>



  <%- include ('./partials/footer.ejs') %>